Gran Gran's awesome, and so is her home page!

<p>
Check out her other pages: </br>
<%= link_to "Welcome Page", welcome_path %></br>
<%= link_to "About Page", about_path %></br>
<%= link_to "Cookies", cookie_path %></br>
</p> 